@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.auth-container body {
  font-family: "Open Sans", sans-serif;
  background: hsl(230, 100%, 99%);
  color: #3a3c47;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
.password-field-passion {
  position: relative;
}
.icon-svg-path svg {
  width: 25px;
  position: absolute;
  right: 15px;
  top: 36px;
  color: #6a6a6c;
  cursor: pointer;
}
.auth-container h1 {
  margin-top: 48px;
}

.auth-container .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  width: 392px !important;
  margin: 0 auto;
  margin-top: 8px;
}

.auth-container .row label {
  font-size: 13px;
  color: #8086a9;
  margin-bottom: 5px;
}

.auth-container .row input {
  flex: 1;
  padding: 13px;
  border: 1px solid #d6d8e6;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.2s ease-out;
  color: #707070;
  border: 2px solid transparent;
}

.auth-container .row input:focus {
  outline: none;
  background: #f5f5f5;
  border: 2px solid rgba(5, 172, 84, 0.6);
  border-radius: 8px;
}

.auth-container .row input::placeholder {
  color: #c8cddf;
}
.logo-head {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 110px;
}
.auth-container .auth-btn {
  font-size: 18px;
  background: #f5ab24;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  transition: background 0.2s ease-out;
  padding: 8px 56px;
  display: block;
  margin: 40px auto;
}

.auth-container button:hover {
  background: #eba31d;
}
.auth-container .changePass-btn {
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  transition: background 0.2s ease-out;
  display: block;
  margin: 40px auto;
  background: #05ac54;
  border-radius: 8px;
  width: 400px !important;
  padding: 13px 0;
}
.auth-container .changePass-btn:hover {
  background: #089e4e;
}
@media (max-width: 458px) {
  .auth-container form {
    background: #f9faff;
    border: none;
    box-shadow: none;
    padding: 20px 0;
  }
}
@media (min-width: 900px) {
  .change-password-sections input {
    width: 362px !important;
    background-color: #f5f5f5 !important;
  }
  .auth-container form {
    background: #f9faff;
    border: none;
    box-shadow: none;
    padding: 20px 0;
    width: 500px;
  }
  .auth-container .changePass-btn {
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    transition: background 0.2s ease-out;
    display: block;
    margin: 40px auto;
    background: #05ac54;
    border-radius: 8px;
    width: 430px !important;
    padding: 13px 0;
  }
  .auth-container .changePass-btn:hover {
    background: #089e4e;
  }
}
