.hi-menu {
  display: flex;
  align-items: center;
}
.dash-title {
  margin-left: 10px;
  font-weight: 600;
  color: #05ac54;
  font-size: 25px;
}
@media (min-width: 768px) {
  .dashboard-header-color {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 12;
    background: #f7f7fa;
  }
  .dash-setting {
    border: 2px solid #cccccc;
    box-sizing: border-box;
    border-radius: 6px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dashboard-graph {
    padding-left: 34px;
    padding-top: 40px;
  }
}
@media (max-width: 768px) {
  .dash-setting-menu {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #222222;
    position: absolute;
    right: 30px;
  }
  .dashboard-graph {
    background-color: white;
  }
  .dashboard-graph .title {
    padding-top: 20px;
    font-size: 22px;
  }
}
@media (max-width: 1080px) {
  .dashboard-graph {
    padding: 0 20px;
    font-size: 18px;
  }
  .card-item-buyer-icon {
    position: absolute;
    right: 10px;
    font-size: 43px !important;
    top: 46px !important;
    color: #be89f6;
  }
  .card-item-seller-icon {
    position: absolute;
    right: 10px;
    font-size: 43px !important;
    top: 46px !important;
    color: #fda4be;
  }
  .card-item-rider-icon {
    position: absolute;
    font-size: 43px !important;
    top: 46px !important;
    color: #5aabf5;
  }
}

.dash-setting-menu {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #222222;
}
.card-item-buyer {
  background: linear-gradient(117.12deg, #df6eec -15.8%, #9f66f5 110.24%);
  position: relative;
}
.card-item-buyer-icon {
  position: absolute;
  right: 10px;
  font-size: 90px;
  top: 10px;
  color: #be89f6;
}
.card-item-seller {
  background: linear-gradient(117.12deg, #fe7f69 -15.8%, #fd6d89 110.24%);
  position: relative;
}
.card-item-seller-icon {
  position: absolute;
  right: 10px;
  font-size: 70px;
  top: 22px;
  color: #fda4be;
}

.card-item-rider {
  position: relative;
  background: linear-gradient(
    117.12deg,
    rgba(61, 92, 204, 0.8) -15.8%,
    #3c5bcc 110.24%
  );
}
.card-item-order {
  position: relative;
  background: linear-gradient(117.12deg, #1999dc -15.8%, #1999dc 110.24%);
}
.card-item-rider-icon {
  position: absolute;
  right: 10px;
  font-size: 65px;
  top: 30px;
  color: #5aabf5;
}
